venv/
env/
.venv/
__pycache__/

*.sqlite3
db.sqlite3
/media/

.env
*.env
.env.*
!.env.example

*.log
logs/

*.pyc
*.pyo
*.pyd

.DS_Store
Thumbs.db

node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.next/
out/

.env.local
.env.development.local
.env.test.local
.env.production.local

.idea/
.vscode/
*.swp

api/migrations/